@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://localhost:9001/api/v1/Todo" target="_blank" class="ml-md-auto">Api</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@


<div class="container-fluid">
    @Body
</div>